.restaurants_everything {
	display: flex;
	flex-direction: column;
}

.restaurants_topbanner {
	display: flex;
	flex-direction: row;
	height: 10vh;
	width: 100vw;
}

.restaurants_midbanner {
	display: flex;
	margin-top: 10px;
	flex-direction: row;
	height: 85vh;
	width: 100vw;
	position: relative;
}

.restaurants_map_wrapper {
	width: 70vw;
	height: 80vh;
}
.restaurants_map {
	width: 100%;
	height: 100%;
	margin-left: 10px;
	border: 1px solid black;
}

.restaurants_right {
	display: flex;
	flex-direction: column;
	width: 30vw;
	margin: 0px 10px;
}
.restaurants_list_wrapper {
	height: 80vh;
	background-color: bisque;
}

.restaurants_button {
	width: 100%;
	height: 63px;
}

.restaurants_midbanner ::-webkit-scrollbar {
	width: 10px;
}

.restaurants_midbanner ::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.restaurants_midbanner ::-webkit-scrollbar-thumb {
	background: #d2a124;
	border-radius: 10px;
}

.restaurants_midbanner ::-webkit-scrollbar-thumb:hover {
	background: #ffc400;
}
