.neworder_everything {
  display: flex;
  flex-direction: column;
}

.neworder_topbanner {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
}

.neworder_midbanner {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
  position: relative;
}

.neworder_map {
  width: 70vw;
  height: 80vh;
  background-color: azure;
}

.neworder_right {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0px 10px;
}
.neworder_list_wrapper {
  height: 70vh;
  background-color: bisque;
}

.neworder_button {
  width: 100%;
  height: 70px;
  font-size: 36px;
}
