.menu_item {
	width: 100%;
	height: 90px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid #d2a124;
	padding-left: 2%;
}

.order_menu {
	width: 60vw;
	padding-left: 10px;
}
.order_new_wrapper {
	display: flex;
	flex-direction: row;
	width: 100vw;
	margin-top: 30px;
}

.order_cart {
	width: 37.5vw;
	height: 80vh;
	margin: 0px 10px;
}
.cart_list_wrapper {
	height: 55vh;
	background-color: bisque;
	border: 2px solid #d2a124;
}

.order_new_wrapper ::-webkit-scrollbar {
	width: 10px;
}

.order_new_wrapper ::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.order_new_wrapper ::-webkit-scrollbar-thumb {
	background: #d2a124;
	border-radius: 10px;
}

.order_new_wrapper ::-webkit-scrollbar-thumb:hover {
	background: #ffc400;
}

.cart_total {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 30px;
}

.cart_total_wrapper {
	display: flex;
	width: 100%;
	justify-content: right;
}
